.logo__service
    display:         inline-block
    font-size:       font_size_m
    text-decoration: none
    color:           font_color_base
    text-shadow:     0 1px 0 bkg_base
    vertical-align:  middle
