.burger
    display:         inline-block
    width:           28px
    height:          28px
    opacity:         .6
    background:      url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzOSIgaGVpZ2h0PSIzMCI+PHJlY3QgZmlsbD0iIzMzMyIgd2lkdGg9IjM5IiBoZWlnaHQ9IjUuOTgiLz48cmVjdCB5PSIxMS45OCIgZmlsbD0iIzMzMyIgd2lkdGg9IjM5IiBoZWlnaHQ9IjYiLz48cmVjdCB5PSIyNCIgZmlsbD0iIzMzMyIgd2lkdGg9IjM5IiBoZWlnaHQ9IjYiLz48L3N2Zz4=') no-repeat 50% 50%
    background-size: 20px 15px
    float:           right
