.menu-item_theme_normal.menu-item_checked
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNiI+PHBvbHlnb24gcG9pbnRzPSIxMy41LDAuNSA1LjUsMTIuNSAxLjcsOCAwLjcsOS42IDUuNiwxNSAxNC43LDEuNiIvPjwvc3ZnPg==')
