.link_view_list-row
    position:      relative
    display:       inline-block
    color:         font_color_base
    text-shadow:   0 1px 0 #fff
    font-size:     font_size_m
    font-weight:   font_weight_bold
    width:         100%
    user-select:   none
    height:        34px
    box-sizing:    border-box
    padding:       6px 9px
    border:        1px solid #dbdae2
    border-radius: 2px
    box-shadow:    0 1px 0 rgba(255,255,255,.3)
    cursor:        pointer

    &:after
        display:           block
        position:          absolute
        top:               11px
        right:             6px
        content:           ''
        width:             11px
        height:            11px
        background-image:  url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI2Ij48cG9seWdvbiBwb2ludHM9IjEwLjMsMCA1LjUsNC43IDAuNywwIDAsMC43IDUuNSw2IDExLDAuNyIvPjwvc3ZnPg==')
        background-repeat: no-repeat
        transform: rotate(-90deg)
