ctx = '.control-group'

{ctx}
    position:      relative
    margin-bottom: 10px

.line
    .line__col
        {ctx}
            margin-right: 5px

        &:last-child
            {ctx}
                margin-right: 0
