.city
    font-size:     14px
    padding:       4px
    min-height:    16px
    text-align:    center
    border-bottom: 1px solid #ccc
    background:    #fff
    background:    url('data:image/svg+xmlbase64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJo…iIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+')
    background:    linear-gradient(to bottom,#fff 0%,#e5e5e5 100%)
