// GRID
page_width = 960

// TYPOGRAPHY
font_family             = Helvetica, Arial, sans-serif
font_color_base         = #000
font_color_placeholders = #444
line_height             = 1.4

font_size_base = 12px
font_size_s    = 10px
font_size_m    = 15px
font_size_l    = 16px

font_size_h4   = font_size_base * 1.5
font_size_h3   = font_size_base * 2
font_size_h2   = font_size_base * 3
font_size_h1   = font_size_base * 4

font_weight_base       = 200
font_weight_title      = 100
font_weight_ultra_bold = 700

// PALETTE
bkg_base            = #fff
bkg_page            = #f3f2f0
ya_color            = #ffd10d
facebook            = #335795
facebook_font_color = #fff
twitter             = #4099FF
twitter_font_color  = #fff
github              = #000
github_font_color   = #fff

// LINKS
link_color_base  = #0670c1
