ctx = '.input_theme_normal'

{ctx}
    width: 100%

    &.input_size_l

        .input__control
            font-size:      font_size_l
            line-height:    font_size_l + 2
            padding-top:    8px
            padding-bottom: 6px
            height:         34px

    &.input_size_l.input_has-label

        .input__control
            padding-left: 80px

    &.input_size_l.input_has-clear

        .input__clear
            background-image:    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCI+PHBvbHlnb24gcG9pbnRzPSIxNCwwLjcgMTMuMywwIDcsNi4zIDAuNywwIDAsMC43IDYuMyw3IDAsMTMuMyAwLjcsMTQgNyw3LjcgMTMuMywxNCAxNCwxMy4zIDcuNyw3Ii8+PC9zdmc+')
            background-position: 9px 55%
